@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif !important;
}

html,
body {
    min-height: 100vh;
}

a {
    text-decoration: none;
    line-height: normal;
    color: #000;
}

li {
    list-style: none;
    line-height: normal;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

input {
    outline: none;
}

.container {
    // max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}