@import url("https://fonts.cdnfonts.com/css/times-new-roman");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", sans-serif !important;
}

html,
body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  line-height: normal;
  color: #000;
}

li {
  list-style: none;
  line-height: normal;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

input,
select {
  outline: none;
}
