.section {
    padding: 20px 0;
    .section-filter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .search-main {
            display: flex;
        }
    }
    .section-collapse {
        display: flex;
        .collapse-home {
            width: 1485px;
            // width: 100%;
            display: flex;
            justify-content: space-between;
            .collapse {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;
            }
        }
    }
}

