.section {
    padding: 20px 0;
    .section-filter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .search-main {
            display: flex;
        }
    }
    .section-collapse {
        display: flex;
        .collapse-home {
            max-width: 1485px;
            width: 100%;
            display: flex;
            justify-content: space-between !important;
            .collapse {
                width: calc(50% - 20px);
                width: 400px;
                margin-bottom: 20px;
                flex-shrink: 0;
            }
        }
    }
}
