@media (max-width: 1024px) {
    .section {
        max-width: 1024px;
        .search-main {
            max-width: 600px;
            width: 100%;
        }
    }
}

@media (max-width: 992px) {
    .section-filter {
        max-width: 992px;
        display: flex;
        align-items: flex-start;
        flex-direction: column-reverse;
        gap: 10px;
    }
    .collapse-home {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .section {
        max-width: 768px;
    }
}

@media (max-width: 425px) {
    .section {
        max-width: 425px;
    }
}