@media (max-width: 1024px) {
    .section {
        max-width: 1024px;
        .search-main {
            max-width: 600px;
                width: 100%;
        }
    }
}

@media (max-width: 992px) {
    .section {
        max-width: 992px;
    }
}

@media (max-width: 768px) {
    .section {
        max-width: 768px;
        .container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }
}

@media (max-width: 425px) {
    .section {
        max-width: 425px;
        .container {
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-start;
        }
    }
}